/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these in head.html or in scripts.js.
 * 
 *
 */

main {
  max-width: 800px;
  margin: auto;
  padding: 20px 0;
  line-height: 1.5;
  font-size: 16px;
}

main *,
main *:before,
main *:after {
  box-sizing: border-box;
}

main > div > * {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
